@import "mix";

* {
  @include resetAll;
}

p.p {
  @include size(300px, 100px);
  @include flexContainer(center, flex-end);
  @include marginX(auto);
}

div.set {
  @include flexContainer(center, flex-end, $fw: wrap, $res: xs);
  @include listMargin(13rem, null, 2, sm);
  // @include position(absolute, $r: 0, $l: 0);
  @include responsive(xl) {
    // @include position($r: 30px, $l: 0, $t: 3px);
  }
  @include paddingX(null, $sz-5, 20px, $neg-margin: true);
}

body {
  @include fullViewport;
  @include flexContainer(center, center);
}

div.grid {
  @include gridContainer(
    $gtc: repeat(2, 1fr),
    $gap: 3rem,
    $ac: center,
    $res: md
  );
}

.flex {
  @include flexContainer;
}
li {
  @include flexItem;
  @include listMargin($sz-8, null, $sz-4, lg);
}