//
// PADDING
//
@mixin paddingX($pd: null, $pl: null, $pr: null, $neg-margin: false) {
  padding-left: $pd;
  padding-right: $pd;

  @if $pl != null {
    padding-left: $pl;
  }
  @if $pr != null {
    padding-right: $pr;
  }

  @if $neg-margin == true {
    @if $pd != null {
      margin-left: $pd * (-1);
      margin-right: $pd * (-1);
    }
    @if $pl != null {
      margin-left: $pl * (-1);
    }
    @if $pr != null {
      margin-right: $pr * (-1);
    }
  }
}

@mixin paddingY($pd: null, $pt: null, $pb: null, $neg-margin: false) {
  padding-top: $pd;
  padding-bottom: $pd;

  @if $pt != null {
    padding-top: $pt;
  }
  @if $pb != null {
    padding-bottom: $pb;
  }
  @if $neg-margin == true {
    @if $pd != null {
      margin-left: $pd * (-1);
      margin-right: $pd * (-1);
    }

    @if $pt != null {
      margin-left: $pt * (-1);
    }
    @if $pb != null {
      margin-right: $pb * (-1);
    }
  }
}

//
// MARGIN
//

@mixin listMargin($ml: null, $mt: null, $invert: null, $col: null) {
  & + & {
    margin-left: $ml;
    margin-top: $mt;

    @if $invert != null {
      // Invert: how many times margin-top should be bigger than margin-left on mobile devices;
      @include responsive($col) {
        margin-top: $ml * $invert;
        margin-left: 0;
      }
    }
  }
}
