@import "breakpoints";
@mixin flexContainer(
  $jc: null,
  $ai: null,
  $fd: null,
  $fw: null,
  $ac: null,
  $col: null
) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $fw;
  flex-direction: $fd;
  align-content: $ac;

  @include flexToColumn($col);
}

@mixin flexItem($fl: 1, $or: null, $as: null) {
  flex: $fl;
  order: $or;
  align-self: $as;
}
