@mixin flexContainer(
  $jc: null,
  $ai: null,
  $fd: null,
  $fw: null,
  $ac: null,
  $col-mobile: true 
  // $invert: see if it worth it
) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $fw;
  flex-direction: $fd;
  align-content: $ac;

  @if $col-mobile == true {
    @include mobile {
      flex-direction: column;
    }
  }
}

@mixin flexItem($flex: 1, $or: null, $as: null) {
  flex: $flex;
  order: $or;
  align-self: $as;
}
